// FILE RESPONSIBLE FOR THE STRUCTURE OF THE WEBSITE

@import 'colors.scss';

.flex-container{
    display: flex;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid $btn-red;

    .logo-block{
        flex: 1 1 calc(50% - 3px);
        margin-right: 3px;
        padding: 85px 0 65px 0;
        display: flex;
        justify-content: center;
        background-color: $bg-lightred;
        align-self: flex-start;

        img{
            width: 100%;
            flex-basis: 320px;
        }
    }

    .testdrive-block{
        flex: 1 1 calc(50% - 3px);
        margin-left: 3px;
        background-color: $bg-grey;
        padding: 20px;

        .testdrive-title h1 {
            margin: 0 0 20px 0;
            color: $title-red;
        }
        
        .testdrive-form {

            .testdrive-form-inner {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 auto;

                input{
                    flex: 0 1 calc( 50% - 30px);
                }

                input, select {
                    text-transform: uppercase;
                    padding: 10px;
                    background-color: transparent;
                    border: 0;
                    border-bottom: 1px solid $grey;
                    margin-bottom: 10px;
                }

                select{
                    flex-basis: calc(50% - 10px);
                }
            }    
        }
    }

    .legal {
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
}

.modal {
    position: fixed;
    transform: translateY(100%);
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: calc( 100vh - 3px );
    background-color: #fff;
    display: flex;
    border-bottom: 5px solid $btn-red;
    transition: 0.4s transform ease-in-out;

    p {
        flex: 1 1 320px;
        max-width: 740px;
        margin: 0 auto;
        align-self: center;
    }

    .close-modal {
        position: absolute;
        right: 20px;
        top: 10px;
    }
}

.legal-on {
    transform: translateY(0%);
}

.send-data-block{
    margin-top: 40px;
    width: 100%;
    text-align: right;
    
    .send-data {
        background-color: $btn-red;
        padding: 7px 50px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 10px;
        
    }
}