// FILE RESPONSIBLE FOR THE STRUCTURE OF THE WEBSITE

@import 'colors.scss';

.flex-container{
    display: flex;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid $btn-red;

    .logo-block{
        flex: 1 1 calc(50% - 3px);
        margin-right: 3px;
        padding: 85px 0 65px 0;
        display: flex;
        justify-content: center;
        background-color: $bg-lightred;
        align-self: flex-start;

        img{
            width: 100%;
            flex-basis: 320px;
        }
    }

    .testdrive-block{
        flex: 1 1 calc(50% - 3px);
        margin-left: 3px;
        background-color: $bg-grey;
        padding: 20px;

        .testdrive-title h1 {
            margin: 0 0 20px 0;
            color: $title-red;
        }
        
        .testdrive-form {

            .testdrive-form-inner {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 auto;

                input{
                    flex: 0 1 calc( 50% - 30px);
                }

                input, select {
                    text-transform: uppercase;
                    padding: 10px;
                    background-color: transparent;
                    border: 0;
                    border-bottom: 1px solid $grey;
                    margin-bottom: 10px;
                }

                select{
                    flex-basis: calc(50% - 10px);
                }
            }    
        }
    }

    .legal {
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
}

.modal {
    position: fixed;
    transform: translateY(100%);
    bottom: -100%;
    left: 0;
    min-width: 100vw;
    min-height: calc( 100vh - 3px );
    background-color: #fff;
    display: none;
    border-bottom: 5px solid $btn-red;
    transition: 0.4s transform ease-in-out;
    bottom: 0;

    p {
        flex: 1 1 320px;
        max-width: 740px;
        margin: 0 auto;
        align-self: center;
    }

    .close-modal {
        position: absolute;
        right: 20px;
        top: 10px;
    }
}

.legal-on {
    transform: translateY(0%);
}

.send-data-block{
    margin-top: 40px;
    width: 100%;
    text-align: right;
    
    .send-data {
        background-color: $btn-red;
        padding: 7px 50px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 10px;
        
    }
}


@media (max-width: 1000px) {

    .container {
        background-color: $bg-grey;
        border-bottom: 3px solid $btn-red;

        .flex-container {
            flex-direction: column;
            max-width: 90%;
            border-bottom: 0;
    
            .logo-block {
                flex-basis: 100%!important;
                margin-right: 0;
                width: 100%;
    
                img {
                    flex-basis: 200px!important;
                }
            }
    
            .testdrive-block .testdrive-form .testdrive-form-inner{
                input {
                    flex: 1 1 100%;
                    margin-bottom: 30px;
                }
    
                select {
                    flex-basis: 100%;
                    margin-bottom: 30px;
                }
            } 
    
            .legal {
                bottom: unset;
                top: 350px;
                left: -20px;
                transform: rotate(90deg);
                padding: 0 10px;
                background-color: $btn-red;
                position: fixed;
        
                p{
                    color: #fff;
                }
            }
        }
    
        .send-data-block {
            text-align: center;
            position: relative;
    
            .send-data {
                display: inline-block;
                width: 100%;
                background-color: transparent;
                color: $btn-red;
                padding: 10px 0;
            }
        }

        .modal p {
            max-width: 80%;
        }
    }

  }